:root {
  --rainbow: rgb(232, 20, 154);
  --pink: rgb(238, 56, 193);
  --black: #000000;
  --yellow: #ffff00;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  --RM: 'RubikMicrobe';
  --OF: 'Outfit';
}

@font-face {
  font-family: 'RubikMicrobe';
  src: url('./font/Rubik_Microbe/RubikMicrobe-Regular.woff2') format('woff2'),
    url('./font/Rubik_Microbe/RubikMicrobe-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Outfit';
  src: url('./font/Rubik_Microbe/Outfit/Outfit-Regular.woff2') format('woff2'),
    url('./font/Rubik_Microbe/Outfit/Outfit-Regular.woff') format('woff');
}

body {
  font-family: var(--RM);
  background-color: var(--black);
  transition: background-color 2s ease;
  box-sizing: border-box;
  height: 95vh;
  margin: 0px;
  padding: 0px;
  font-weight: 600;
  cursor: url('images/kindpng_44339\ 1.png'),
    url('images/facebook-love-png-44001\ 1.png'), auto;
}

.heart-cursor {
  cursor: url('images/facebook-love-png-44001\ 1.png'),
    url('images/kindpng_44339\ 1.png'), auto;
}

.rainbow {
  background-color: var(--rainbow);
}

h2 {
  font-family: var(--RM);
  font-size: 4rem;
  border-radius: 10px;
  margin-bottom: 0px;
  margin-top: 0px;
  text-align: center;
  padding: 0.5rem;
}

.cheer-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--black);
  font-size: 2rem;
  color: var(--yellow);
  border: none;
  border-radius: 10px;
  font-family: var(--OF);
  cursor: pointer;
  outline: inherit;
  padding: 1rem 1rem 1rem 1rem;
  margin: 35vh 2rem 0rem 2rem;
  box-shadow: 2px 2px 20px 2px yellow;
}
span {
  display: block;
}

.sad-emoji {
  height: 2rem;
}

.cheer-button:hover {
  background-color: var(--pink);
  transition: background-color 0.2s ease;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  list-style-type: none;
  padding-left: 0px;
  padding-right: 0px;
}

ul li {
  font-family: var(--RM);
  font-size: 2rem;
  border-radius: 10px;
  padding: 0.5rem;
  width: 80%;
  text-align: center;
}

.selected {
  background-color: aqua;
}

.blue {
  background-color: blue;
}

.hide {
  display: none;
}

@media screen and (min-width: 819px) and (max-width: 1199px) {
  h2 {
    font-size: 8rem;
  }

  ul li {
    font-size: 3rem;
  }

  .cheer-button {
    font-size: 4rem;
    padding: 1.5rem;
  }

  .sad-emoji {
    height: 4rem;
  }

  ul {
    gap: 7rem;
  }
}

@media screen and (min-width: 1200px) {
  .cheer-button {
    font-size: 6rem;
    padding: 2rem 2rem 2rem 2rem;
    margin-top: 12%;
  }

  .sad-emoji {
    height: 6rem;
  }

  h2 {
    font-size: 10rem;
  }

  ul {
    gap: 10rem;
  }

  ul li {
    font-size: 4rem;
    padding: 2rem;
  }
  .hide {
    display: none;
  }
}
