:root {
  --rainbow: rgb(232, 20, 154);
  --pink: rgb(13, 118, 62);
}

body {
  font-family: 'myFont';
  background-color: bisque;
  transition: background-color 2s ease;
}

.rainbow {
  background-color: var(--rainbow);
}

.hide {
  display: none;
}

@font-face {
  font-family: 'myFont';
  src: url('./font/Rubik_Microbe/RubikMicrobe-Regular.woff2') format('woff2'),
    url('./font/Rubik_Microbe/RubikMicrobe-Regular.woff') format('woff');
}

h2 {
  font-family: 'myFont';
  font-size: 12rem;
  border-radius: 10px;
  margin-bottom: 0px;
}

.cheer-button {
  background-color: darkgreen;
  font-size: 10rem;
  color: inherit;
  border: none;
  padding: 10rem;
  border-radius: 10px;
  font-family: 'myFont';
  cursor: pointer;
  outline: inherit;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10rem;
  list-style-type: none;
  xpadding: 500px 0rem 500px 0rem;
}

ul li {
  font-family: 'myFont';
  font-size: 4rem;
  border-radius: 10px;
  padding: 2rem;
  margin: 0px;
}

.selected {
  background-color: aqua;
}

.blue {
  background-color: blue;
}
